@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Righteous', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background-color: #FB6B6B ;

    font-family: 'Recursive', sans-serif;
    font-weight: 400;
}
