@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Righteous', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background-color: #FB6B6B;

    font-family: 'Recursive', sans-serif;
    font-weight: 400;
}

.firstPage {
    width: 100%;
    height: auto;
    background-color: #FB6B6B;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 100px;
}

.firstPage img{
    width: 136px;
    height: 161px;

    margin-top: calc(35%);
}

.firstPage p {
    margin-top: 30px;

    font-family: 'Righteous', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
}

.button {
    background-color: #FFFFFF;
    width: 246px;
    height: 54px;

    font-size: 18px;
    font-weight: 400;
    color: #D70900;

    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    cursor: pointer;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header p{
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;

    margin-left: 30px;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.question{
    width: 300px;
    height: 65px;
    margin-top: 20px;

    background-color: #FFFFFF;
    list-style: none;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    font-family: 'Righteous', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.question ion-icon{
    width: 20px;
    height: 20px;
    color: black;
}

.footer{
    width: 100%;
    min-height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    position: fixed;
    bottom: 0;
    padding: 5px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Righteous', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.icons{

}

.footer p{
    margin-bottom: 10px;

    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.footer ion-icon[name=checkmark-circle] {
    color: #2FBE34;
    width: 23px;
    height: 23px;
}

.footer ion-icon[name=close-circle] {
    color: #FF3030;
    width: 23px;
    height: 23px;
}

.footer ion-icon[name=help-circle] {
    color: #FF922E;
    width: 23px;
    height: 23px;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.questionOpen{
    width: 299px;
    height: 131px;
    margin-top: 20px;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;

    position: relative;
}

.answer{
    font-size: 18px;
}

.choices{
    width: 100%;
    padding: 0 5px;
    display: flex;
    justify-content: space-evenly;

    position: absolute;
    bottom: 5px;
    left: 0px;
}

.naoLembrei{
    width: 85px;
    height: 37px;
    border-radius: 5px;
    background-color: #FF3030;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}

.quaseLembrei{
    width: 85px;
    height: 37px;
    border-radius: 5px;
    background-color: #FF922E;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}

.zap{
    width: 85px;
    height: 37px;
    border-radius: 5px;
    background-color: #2FBE34;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}


